/* Your code here! */
main {
  margin: 25px auto;
  width: 50%;
  color: rgb(243, 247, 244);
text-shadow: 2px 2px rgb(0, 0, 0);
font-family: fantasy;
box-shadow: 0px 8px 15px rgba(39, 157, 57, 0.1);
}
 button{
font-family: Georgia, 'Times New Roman', Times, serif;
  border-radius: 15px;
width: 400px;
height: 100px;
font-size: x-large;
background-color: rgb(147, 30, 128);
box-shadow: 0px 8px 15px rgba(4, 65, 53, 0.1); 
}
