body {
  margin: auto;
  height: 1000px;
  font-family: -apple-system, 'Oxygen'
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-top:20%;
  background: repeating-linear-gradient(45deg, 
  #000 0 1em, #111 0 2em);
  color:whitesmoke;
  text-shadow: 8px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


main { 
  margin: auto;
  text-align: center;
}
button { 
  display:block;
  margin:0 auto;
  background: linear-gradient(45deg, blue, yellow)
}
